/* --------------------  

SCSS organized by order 
sections appear on page

    1. Sass variables
    2. General SCSS
    3. Classes for JS
    4. Background color classes
    5. Color classes
    6. Navbar
    7. Mobile nav
    8. Header
    9. Tools section
    10. Spinning Icons 
    11. Experience section
    12. Work section
    13. Testimonial
    14. Contact section
    15. Footer
    16. Media queries

 --------------------*/

/* --------------------
    Sass Variables
 --------------------*/

$input-gray: #ced4da;
$lt-gray: #efefef;
$white: #fff;
$lighter-purple: #aba9b5;
$lt-purple: #55476d;
$pink-purple:  #66436f;
$med-purple: #887eb9;
$purple: #31004a;

$lt-blue: #bdedfa;
$blue: #5ad2f4;
$lt-teal: #b0dee0;
$teal: #62bec1;
$lt-green:  #869889;
$olive-green: #647a67;
$med-green: #575;

$lt-taupe: #7e756d;
$neutral-brown: #5e5a5e;
$dk-brown: #888;

$text-gray: #8C979A;
$text-darker: #514f59;

/* --------------------
    General SCSS
 --------------------*/

 body, html {
    font-family :'Raleway';
    line-height: 2.5;
    margin-left: -15px;
    margin-right: -15px;    
    position: relative;
    overflow-x: hidden;     
}

ul {
    list-style-type: none;   
}

/* --------------------
    Classes for JS  
 --------------------*/

.fade-in {
    opacity: 0;
}

.heading, #sw-link {
    color: $lt-green;
    padding-bottom: 4rem; 
    padding-top: 4rem;   
    text-decoration: none;
}

#sw-link:hover {
    opacity: 0.6;
}

.slide-left {
	margin-left: -1300px;
	max-width: 100%;
}

.slide-right {
    margin-right: -100px;
    max-width: 100%;
}

/* --------------------
Background-color classes
 --------------------*/

.blue {
    background-color: $blue;
}

.teal {
    background-color: $teal;
}

.teal-texture-bg {
	background-color: $teal;  
} 

.lt-green {
    background-color: $lt-green;
}

.lt-purple {
    background-color: $lt-purple;
}

.lighter-purple {
    background-color: $lighter-purple;
}

.neutral-brown {
    background-color: $neutral-brown;
}

.pink-purple {
    background-color: $pink-purple;
}

.lt-taupe {
    background-color: $lt-taupe;
}

.lt-teal {
    background-color: $lt-teal;
}

/* --------------------
  Miscellaneous classes
 --------------------*/

.bold {
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.my-hr {       
    width: 70%;
}

.heading-hr {
    width: 30%;
}

.white {
    color: $white;
}

/* --------------------
        Navbar
 --------------------*/
nav {
    background-color: $lt-purple;      
}

a.nav-link {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color:  $white;  
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;   
    letter-spacing: 1px;  
    transition: all ease 0.5s; 
    text-align: center;     
    transition: all 0.3s ease-in-out;
}

a.nav-link:hover {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;     
    transform: scale(1.2);     
}

i.nav {
    padding-right: 10px;
}

/* --------------------
    Mobile nav
 --------------------*/
 
@media screen and (max-width: 992px) {
    i.hamburger {
        color: $med-purple;
        font-size: 1.75rem;       
    }

    nav {
        background-color: $white;
    } 

    li.nav-item {
        background-color: $med-purple;
        background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");     
    }   

    li.nav-item:hover {
        background-color: $white;
        background-image: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);       
    }

    a.nav-link {
        border-bottom: 1px solid $med-purple;
        border-top: 1px solid $med-purple;
    }

    a.nav-link:hover {  
        background-color: $white;  
        color: $lt-purple;   
        transform: scale(1.12);
    }   

    li.nav-item.active {
        display: none;     
    }

    ul#desktop-navbar {     
        margin-bottom: 1.5rem;       
        margin-left: -15px;   
        margin-right: 15px; 
        opacity: 1; 
    }    
}

/* --------------------
    Header
 --------------------*/

.header-title {
    border-bottom: 10px solid $lighter-purple;     
    height: 7rem;   
    width: 100%;
}

.header-title p {
    color: $med-purple;
    font-family: 'Alice', sans-serif;  
    font-size: 350%;
}

#desktop-navbar {
    opacity: 0;   
    transition: opacity 0.9s ease-in;    
}

.bold {
    font-weight: bold;
}

img.christine {    
    border-radius: 50%;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);    
    height: 18rem;    
    width: 18rem; 
}

.intro-text {    
    color: $text-gray;
    line-height: 2.15;
    text-align: center;    
}

/* --------------------
    Tool Icons
 --------------------*/

.devicon-javascript-plain, .devicon-jquery-plain, .devicon-git-plain, .devicon-bitbucket-plain, .devicon-gulp-plain, .devicon-bootstrap-plain, .devicon-visualstudio-plain, .devicon-sass-original, .devicon-slack-plain {
    color: $white;
    font-size: 3rem;  
}

.icon {
    margin: 35px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;    
}

.spinning-tools {
    position: relative;
}

.diamond {
    border: 1px solid $lt-gray;         
	height: 8rem;	
	margin: 50px;   
    transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;   
    width: 8rem;
}

.diamond:hover {     
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);   
}

.tool-name {
    color: $lt-taupe;
    font-size: 110%;
    padding-top: 2rem;
}

/* --------------------
    Experience Section 
 --------------------*/

span, .work-info {
    color: $lt-green;
}

.fa-ul {
    padding: 0 1.5rem;
}

.project-text {
    color: $text-gray;
}

.project-text > p > a {
    color: $teal; 
    font-weight: bold;
    letter-spacing: 0.5px;     
    opacity: 0.7;  
    text-decoration: none;
}

.project-text > p > a:hover {
    font-weight: bold;
    opacity: 1;
}

/* --------------------
    Work Section 
 --------------------*/

h3.project-title {
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);
    font-family: 'Raleway', sans-serif;
    font-size: 150%;    
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem 0;
    text-align: center;    
}

.heading, .subheading, .contact-heading {
    color: $lt-taupe;
    font-family: 'Alice', sans-serif;
}

.contact-heading {
    color: $white;
}

.heading.premier-site, .work-info {
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);
    color: $lt-green;      
}

.work-info {
    box-shadow: none;    
    font-style: italic;     
    text-align: center;    
}

.heading.castle-site {    
    color: $lt-green;
}

.sw-app {
    background: $lt-purple;
    color: $white;
}

.star-wars {
    background: $white;   
}

.project-div {   
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);    
    height: 26rem;    
}

img.sw-section {
    height: 35rem;
    width: 42rem;
}

.project-text {   
    font-size: 105%;       
}

.demo-link {
    backface-visibility: hidden;
    background-color: $lt-green;
    border: 1px solid $white;
    color: $white; 
    min-width: 25px;     
    text-decoration: none !important;  
    transition: transform 0.3s ease-in-out;      
}

.demo-link:hover {
    background-color: $white;
    border: 1px solid transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12); 
    color: $lt-green;  
    font-weight: bolder;
    transform: scale(1.05); 
}

/* --------------------
    Testimonial 
 --------------------*/

 .purple-texture-bg, .teal-texture-bg {  
    background-color: $lt-purple;    
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);    
	font-family: 'Raleway', sans-serif;
    font-size: 110%;   
	padding-top: 4rem;
	padding-bottom: 3rem;       
}

.lt-purple-texture {
    background-color: $lighter-purple;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    position: relative;
    z-index: 1;
}

/* --------------------
    Contact Section 
 --------------------*/

.contact-section {
    height: 16rem;
    padding-top: 2rem;   
}

/* --------------------
        Footer  
 --------------------*/

.footer-bg {  
	background-color: $olive-green;
	background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
	font-size: 110%;
    line-height: 225%;    
}

.footer-hr {
    background-color: white;    
    width: 30%;
}

.fas.fa-envelope {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.fas.fa-envelope:hover {
    opacity: 0.7;
    transform: scale(1.15);
}

.footer-bg a {
    color: $white;
    font-size: 120%;
    transition: all 0.5s ease-in-out;   
}

.footer-nav a {
    opacity: 1;
    transition: all ease-in;
}

.footer-nav a:hover { 
    font-weight: bold;   
    opacity: 0.7;
    text-decoration: none;
    transform: scale(1.2);
}

.social-media {
    color: white;    
    transition: transform .2s;
}

.social-media:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.about {
    height: 10rem;
}

/* --------------------
    Media Queries  
 --------------------*/

@media screen and (max-width: 768px) {  

    .fade-in {
        opacity: 1;
    }

    .header-title p {
        font-size: 1.75rem;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }
    
    .heading {
        padding-bottom: 1rem;
        padding-top: 1rem;
    } 

    nav {
        background-color: $white;
        margin-top: 0;
        position: absolute;
    }   
    
    a.nav-link:hover {
        border-bottom: 1px solid $lighter-purple;
        border-top: 1px solid $lt-purple;    
        color: $lt-purple;          
    }

    h3.project-title {        
        margin-top: -0.75rem;       
    }

    img.zoom.fade-in {
        height: 15rem;
    }   

    .contact-section {
        height: 8rem;
    }       
}

@media screen and (min-width: 475px) and (max-width: 1024px) {
    img.premier-section {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 992px) {
    #mobile-menu {
        display: none;    
    }

    .nav-toggle {
        display: none;
    }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    .work-history, .work-info {
    text-align: center; 
    } 
}